#root {
  margin: 0 auto;

  text-align: center;
}

.Musio {
  height: 6em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}
.Musio:hover{
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.card.cardborder:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

@keyframes MusioLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

