.left {
  width: 25vw;
  padding: 0px;
}
.Name {
  font-size: 35px;
  font-family: "press start 2p";
  padding-left: 70px;
}
.Home-Search {
  margin-top: 4px;
}
.Musio-Btn {
  gap: 50px;
  margin-top: 18px;
  border-radius: 45px;
  padding: 8px 10px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  /* background-color: rgb(255, 228, 196, 0.2); */
 
  margin-left: 6px;
  margin-right: 6px;
}
.Favicon {
  margin-left: 10px;
}
.Musio-Btn:hover {
  color: bisque;
  cursor: pointer;
  /* box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2); */
  /* background-color: rgba(255, 255, 255, 0.2); */
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: glowing 1s ease infinite;
 
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 200% 0;
  }
  50% {
    background-position: 400% 0;
  }
  75% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* .Musio h1 {
  margin-top: -55px;
  font-size: 3rem;
} */
.Home {
  display: flex;
  margin: 6px;
  color: white;
  border-radius: 20px;
}
/* .Home0{
    margin: 5px 1px;
} */
.Home1 {
  margin: 9px 50px;

  transition: text-shadow 0.3s ease, background-color 0.3s ease;
  border-radius: 25px;
  font-size: 30px;
}
.Home:hover {
  color: bisque;
  cursor: pointer;
  text-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
  margin: 0px 70px;
}

.btn0{
  margin-top: 3rem;
  display: flex;
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid grey;
  outline: none;
  transition: 1s ease-in-out;
  box-shadow: inset 10px 0 20px rgba(0, 0, 0, 0.5),
    inset -10px 0 20px rgba(0, 0, 0, 0.5);
}

svg {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 3rem;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn0:hover {
  transition: 1s ease-in-out;
  background: grey;
}

.btn0:hover svg {
  stroke-dashoffset: -480;
}

.btn0 span {
  color: white;
  font-size: 26px;
  font-weight: 100;
}

.library {
  min-height: 86.75vh;
  position: relative;
}
